node_modules
npm-debug.log
.dockerignore
docker-compose*.yml
.git
.gitignore
README.md
.env
.env.*
!.env.example
dist
coverage
.cache
uploads/*
!uploads/.gitkeep
*.log
logs
.vscode
.idea
.DS_Store
_test_*
contoh_*
docs/*.gif
docs/*.jpeg
docs/*.webp
